<!DOCTYPE html>
<html>

<head>
    <title>{{ client_name }}'s Stock Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- Include jsPDF library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
        <!-- Include html2canvas library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

</head>

<body>
    <h1>{{ client_name }}'s Stock Portfolio</h1>
    <table>
        <thead>
            <tr>
                <th>Company ID</th>
                <th>Name of Company</th>
                <th>Quantity of Stocks</th>
                <th>Current Price</th>
                <th>Current Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in client_portfolio %}
            <tr>
                <td>{{ item['id'] }}</td>
                <td>{{ item['company'] }}</td>
                <td>{{ item['quantity'] }}</td>
                <td>{{ "{:,.2f}".format(item['current_price']) }}</td>
                <td>{{ "{:,.2f}".format(item['current_value']) }}</td>
            </tr>
            {% endfor %}
            <tr class="total-row">
                <td colspan="4" align="right"><strong>Total:</strong></td>
                <td>{{ "{:,.2f}".format(total) }}</td>
            </tr>
        </tbody>
    </table>
    <a href="/" class="back-link">Back to Clients List</a>

</body>

</html>